<section class="text-slate-800 max-container">
    <div class=" mx-auto flex py-12 items-center justify-center flex-col">
        <span class="inline-block h-1 w-10 rounded-full bg-emerald-500 mt-8 mb-6"></span>
    </div>
</section>